

                        body{
                                background-color: #CFCFCF;
								font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
                                font-size: 12px;
                        }

                        fieldset{
                                background-color: #E6E6E6;
                                width: 600px;
                                padding: 10px;
                                border: 3px solid #7e7e7e;
                                color: #757575;
                                margin: 0 auto;
                                display: block;
                                margin-top: 10px;
                        }
						
						legend  {
								color: #4d9a49;
								background-color: #E6E6E6;
								border: 3px solid #7e7e7e;
								font-style:oblique
								font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
								font-size: 12px;
						}

                        h1 {
                                color: #4d9a49;
								f
                                margin: 0px;
                                margin-bottom: 14px;
                        }



